{% extends 'base.html.twig' %}

{% block title %}Hello {{line.name}} 🇨🇭!{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/main.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}
<style>
    
</style>

<div class="example-wrapper">
    <h1>Hello {{line.name}} 🇨🇭!</h1>

    <div class="difficultyRow">
        {% for d in line.difficulty %}
            <div class="difficulty">
                <p style="color: {{d.colour}}; font-size: 14px;">{{d.difficulty}}</p>
            </div>
        {% endfor %}
    </div>

<pre>
    {{ dump(line) }}
</pre>

<div>
    
    <div class="feedbackContainer">

        
        {% for feedback in line.feedbacks %}
        <div class="feedbackRow">
            <div style="width: 25%">
                <p>{{ feedback.date|date('d F Y') }}</p>
            </div>
            <div style="width: 5%">
                <p>{{ feedback.rate }}</p>
            </div>
            <div style="width: 70%">
                <p>{{ feedback.comment }}</p>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock %}
