{% extends 'base.html.twig' %}

{% block title %}Hello {{line.name}} 🇨🇭!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <a class="link" href="{{path('lines')}}"><h1>Hello {{line.name}} 🇨🇭!</h1></a>

    <div class="difficultyRow">
        {% for d in line.difficulty %}
            <div class="difficulty">
                <p style="color: {{d.colour}}; font-size: 14px;">{{d.difficulty}}</p>
            </div>
        {% endfor %}
    </div>

    <table class="table table-hover">
        <tbody>
            {% for feedback in line.feedbacks %}
                <tr class="feedbackRow">
                    <th scope="row">
                        <td style="width: 25%">
                            <p>{{ feedback.date|date('d F Y') }}</p>
                        </td>
                        <td style="width: 5%">
                            <p>{{ feedback.rate }}</p>
                        </td>
                        <td style="width: 70%">
                            <p>{{ feedback.comment }}</p>
                        </td>
                    </th>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{form(form)}}

<div>
    
    
    
</div>
{% endblock %}
