{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! 🎈</h1>

<div>
   {% for d in difficulty_levels %}
        <div class="levelContainer">
            <div class="levelRow">
                <p>{{ d.difficulty|title }}</p>
            </div>
            <div class="levelRow">
                <p>{{ d.notationFr }}</p>
            </div>
            <div class="levelRow">
                <p>{{ d.notationDe }}</p>
            </div>
            <div class="levelColor levelRow">
                <p style="background-color: {{ d.colour }}; height: 20px; width: 20px;"></p>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
