{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! 🧗🏻‍♀️</h1>

    <div data-controller="hello"></div>

<div>
<table class="table table-hover">
  <tbody>
   {% for line in lines %}
            <th scope="row">
                <td>
                    <a class="link" href="{{path('line_show', {id: line.id})}}">{{ line.name }}</a>
                </td>
                <td class="difficultyRow">
                {% for difficulty in line.difficulties %}
                    <div class="difficulty" style="color: {{difficulty.colour}}">
                        <p>{{ difficulty.name }}</p>
                    </div>
                {% endfor %}
                </td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a class="link" href="{{ path('line_edit', {id: line.id}) }}"><button style="margin: 0" class="btn btn-outline-warning">Edit</button></a>
                    </td>
                {% endif %}
            </th>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
